.dart_tool/
.dart-local/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
build/
coverage/
pubspec.lock

android/.gradle/
android/.kotlin/
android/app/build/
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

*.iml
.idea/
.vscode/
